*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* body{
  background-color: red;
} */

.page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box{
  background-color: white;
  width: 40%;
  height: 70%;
  box-shadow: 0px 0px 3px 1px #ddd;
  border-radius: 5px;
}

.title{
  background-color: rgb(65, 155, 228);
  text-align: center;
}

h1{
  padding: 20px;
  color: white;
}

.todo-list{
  padding: 10px 20px;
}

button{
  margin: 10px;
  border: none;
  outline: none;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(65, 155, 228);
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.todo-body, .todo-tail{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo{
  border: 2px solid grey;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.todo p{
  padding: 10px;
  font-size: 1rem;
}

input, button{
  padding: 10px;
}



